<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmk95656d0HnTX-Y3KDFpVqTuxHSo6vsk</string>
	<key>GCM_SENDER_ID</key>
	<string>701886679203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atmaPaylasApp</string>
	<key>PROJECT_ID</key>
	<string>atmapaylas-412414</string>
	<key>STORAGE_BUCKET</key>
	<string>atmapaylas-412414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:701886679203:ios:32c977e0789ebc06aad716</string>
</dict>
</plist>